* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.background {
  height: 100vh;
  width: 100vw;
  background-color: skyblue;
}

.bird {
  height: 100px;
  width: 160px;
  position: fixed;
  top: 40vh;
  left: 30vw;
  z-index: 100;
}

.pipe_sprite {
  position: fixed;
  top: 40vh;
  left: 100vw;
  height: 70vh;
  width: 6vw;
  background-color: green;
}

.message {
  position: fixed;
  z-index: 10;
  height: 10vh;
  font-size: 10vh;
  font-weight: 100;
  color: black;
  top: 12vh;
  left: 20vw;
  text-align: center;
}

.score {
  position: fixed;
  z-index: 10;
  height: 10vh;
  font-size: 10vh;
  font-weight: 100;
  color: goldenrod;
  top: 0;
  left: 0;
}

.score_val {
  color: gold;
}

.start_btn {
  position: fixed;
  z-index: 10;
  top: 25vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 40px;
  font-size: 24px;
  font-weight: bold;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.start_btn:hover {
  background-color: #45a049;
}

.start_btn.hidden {
  display: none;
}