* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  touch-action: manipulation; /* Prevents default touch behaviors like zooming */
}

.background {
  height: 100vh;
  width: 100vw;
  background-image: url('https://user-images.githubusercontent.com/18351809/46888871-624a3900-ce7f-11e8-808e-99fd90c8a3f4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bird {
  position: fixed;
  width: 120px;
  height: auto;
  top: 40vh;
  left: 30vw;
  z-index: 100;
  touch-action: none; /* Prevents touch interference with bird */
}

.follower1, .follower2 {
  position: absolute;
  width: 80px;
  height: auto;
  z-index: 5;
  pointer-events: none;
}

.pipe_sprite {
  position: fixed;
  top: 40vh;
  left: 100vw;
  height: 70vh;
  width: 10vw;
  background-image: url('https://i.ibb.co/SXZqmsjN/image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.message {
  position: fixed;
  z-index: 10;
  font-size: 8vh;
  font-weight: bold;
  color: black;
  top: 10vh;
  left: 20vw;
  text-align: center;
}

.score {
  position: fixed;
  z-index: 10;
  font-size: 8vh;
  color: goldenrod;
  top: 0;
  left: 2vw;
}

.score_val {
  color: gold;
}

.start_btn {
  position: fixed;
  z-index: 10;
  top: 25vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 25px 50px;
  font-size: 28px;
  font-weight: bold;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.start_btn:hover {
  background-color: #45a049;
}

.start_btn.hidden {
  display: none;
}

.footer {
  position: fixed;
  z-index: 10;
  bottom: 2vh;
  left: 2vw;
  font-size: 3vh;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}

/* === Mobile & Tablet Optimizations === */
@media (max-width: 768px) {
  .bird {
    width: 80px; /* Reduced size for better fit */
    left: 20vw; /* Centered better for tablets */
  }

  .follower1, .follower2 {
    width: 60px;
  }

  .pipe_sprite {
    width: 12vw; /* Slightly wider for visibility */
    height: 65vh; /* Adjusted for mobile screens */
  }

  .message {
    font-size: 6vh;
    left: 10vw;
    top: 15vh; /* Adjusted for better visibility */
  }

  .score {
    font-size: 6vh;
    left: 2vw;
  }

  .start_btn {
    font-size: 20px;
    padding: 15px 35px;
    top: 30vh;
  }

  .footer {
    font-size: 2.5vh;
    bottom: 1vh;
  }
}

@media (max-width: 480px) {
  .bird {
    width: 60px; /* Smaller for phones */
    left: 20vw;
  }

  .follower1, .follower2 {
    width: 50px;
  }

  .pipe_sprite {
    width: 15vw; /* Adjusted for small screens */
    height: 60vh;
  }

  .message {
    font-size: 5vh;
    left: 5vw;
    top: 20vh; /* Moved down for better visibility */
  }

  .score {
    font-size: 5vh;
    left: 2vw;
  }

  .start_btn {
    font-size: 18px;
    padding: 12px 30px;
    top: 35vh;
  }

  .footer {
    font-size: 2vh;
    bottom: 1vh;
  }
}