* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.background {
  height: 100vh;
  width: 100vw;
  background-image: url('https://user-images.githubusercontent.com/18351809/46888871-624a3900-ce7f-11e8-808e-99fd90c8a3f4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bird {
  position: fixed;
  width: 120px;
  height: auto;
  top: 40vh;
  left: 30vw;
  z-index: 100;
}

.follower1, .follower2 {
  position: absolute;
  width: 80px;
  height: auto;
  z-index: 5;
  pointer-events: none;
}

.pipe_sprite {
  position: fixed;
  top: 40vh;
  left: 100vw;
  height: 70vh;
  width: 10vw;
  background-image: url('https://i.ibb.co/SXZqmsjN/image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.message {
  position: fixed;
  z-index: 10;
  font-size: 8vh;
  font-weight: bold;
  color: black;
  top: 10vh;
  left: 20vw;
  text-align: center;
}

.score {
  position: fixed;
  z-index: 10;
  font-size: 8vh;
  color: goldenrod;
  top: 0;
  left: 0;
}

.score_val {
  color: gold;
}

.start_btn {
  position: fixed;
  z-index: 10;
  top: 25vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 25px 50px;
  font-size: 28px;
  font-weight: bold;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.start_btn:hover {
  background-color: #45a049;
}

.start_btn.hidden {
  display: none;
}

/* === Mobile & Tablet Optimizations === */
@media (max-width: 768px) {
  .bird {
    width: 100px;
  }

  .follower1, .follower2 {
    width: 70px;
  }

  .pipe_sprite {
    width: 15vw;
  }

  .message {
    font-size: 6vh;
    left: 10vw;
  }

  .score {
    font-size: 6vh;
  }

  .start_btn {
    font-size: 22px;
    padding: 18px 40px;
    top: 35vh;
  }
}

@media (max-width: 480px) {
  .bird {
    width: 90px;
    left: 25vw;
  }

  .follower1, .follower2 {
    width: 60px;
  }

  .pipe_sprite {
    width: 30vw;
  }

  .message {
    font-size: 5vh;
    left: 5vw;
  }

  .score {
    font-size: 5vh;
  }

  .start_btn {
    font-size: 20px;
    padding: 15px 35px;
    top: 38vh;
  }
}
